.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
.wrapperModalAttention {
    border-radius: 30px;
    width: 335px;
    height: 394px;
    background: var(--primary-color-white);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
align-items: center;
padding: 20px;
padding-bottom: 40px;
z-index: 9999999;
}
.imageBackground {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #fff4df url(../../images/🐶.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.divSvg {
    position: relative;
}
.iconClose {
width: 12px;
height: 12px;
stroke: black;
position: absolute;
top: -3px;
right: -159px;
}
.attention {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.03em;
color: var(--primary-color-yellow);
align-items: center;
display: flex
;
justify-content: center;
padding-bottom: 20px;
padding-top: 20px;
}
.attentionParagraph {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
color: var(--primary-color-dark-gray);
padding-bottom: 20px;
}
.img {
    background: url(../../images/modalAttention.png);
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: cover;
}
.btnsRegLogDiv {
    display: flex;
    gap: 8px;}
.btnsRegLog {
    border-radius: 30px;
padding: 6px 12px;
width: 135px;
height: 42px;
font-weight: 700;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.03em;
color: var(--primary-color-white);
border: none;
background: var(--primary-color-yellow);
align-items: center;
display: flex
;
justify-content: center;
}
.btnsRegLog:hover {
    color: var(--primary-color-yellow);
    background: var(--primary-color-yellow-light)}
  