.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .wrapperModalNotice {
    border-radius: 30px;
width: 335px;
height: 476px;background: var(--primary-color-white);
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
justify-content: space-around;
padding: 20px;
padding-top: 40px;
gap: 20px;
  }
  .divSvg {
    position: relative;
    padding: 132px;
  }

  .iconClose {
    width: 12px;
    height: 12px;
    stroke: black;
    position: absolute;
    top: 14%;
    right: 9%;
    }
    .backgroundImg {
        background: url(../../images/ModalNotice.png);
background-repeat: no-repeat;
background-size: cover;   

border-radius: 100px;
width: 120px;
height: 120px;}
.sellParagraph {
    border-radius: 30px;
    width: 48px;
    height: 32px;
    background: var(--primary-color-yellow-light);
font-weight: 500;
font-size: 12px;
line-height: 1.33333;
letter-spacing: -0.02em;
color: var(--primary-color-yellow);
align-items: center;
    display: flex
;
    justify-content: center;
}
.divRating {
  display: flex
  ;
  display: flex
  ;
      flex-direction: row;
      align-items: center;
      justify-content: center;
}
.iconStar {
    width: 16px;
    height: 16px;
    fill: rgba(38, 38, 38, 0.05);
}
.title {
font-weight: 700;
font-size: 16px;
line-height: 1.25;
color: var(--primary-color-dark-gray);
}
.rating {
font-weight: 500;
font-size: 14px;
line-height: 1.42857;
color: var(--primary-color-dark-gray);
}
.divPetsCharacteristics {
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: space-between;
} 
.divPetsDescription {
  display: flex;
  flex-direction: column;
}
.namePet { 
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: var(--primary-color-grey); 
}
.namePetApi {
  font-family: "Manrope", sans-serif;
font-weight: 500;
font-size: 12px;
line-height: 1.16667;
letter-spacing: -0.02em;
color: var(--primary-color-black);
}
.petsComment {
  font-family: "Manrope", sans-serif;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: var(--primary-color-dark-gray);
  margin-top: 8px;
}
.divBtnsAddContact{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;}
.btnsAddContact {
  border-radius: 30px;
padding: 6px 12px;
width: 135px;
height: 42px;
font-weight: 700;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.03em;
color: var(--primary-color-white);
border: none;
background: var(--primary-color-yellow);
display: flex
;
    align-items: center;
    justify-content: center;
    gap: 8px;

}
.btnsAddContact:hover {
  color: var(--primary-color-yellow);
  background: var(--primary-color-yellow-light)}
