.wrapperNewsCard {
display: flex;
flex-direction: column;
gap: 20px;
}
.wrapperNewsCardPhoto {
    border-radius: 15px;
width: 335px;
height: 190px;
    background: url();
}

.wrapperNewsCardText {
display: flex;
flex-direction: column;
gap: 10px;
}
.title {
font-weight: 700;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.03em;
color: var(--primary-color-black);
}
.description {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: var(--primary-color-black);}
    .readMoreDiv {
        display: flex;
        justify-content: space-between;
    }
.date {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: var(--primary-color-grey);
}
.btn {
    background: none;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--primary-color-yellow);
}
/*  */
