:root {
  --font-family: "Manrope", sans-serif;
    line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #262626;
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color-grey: #26262680;
  --primary-color-yellow: #f6b83d;
  --primary-color-white: #fff;


  

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 375px;
  min-height: 100vh;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
