
.inputDiv {
    position: relative;


}
.input {
    width: 100%;
    height: 42px;
    border: 1px solid rgba(38, 38, 38, 0.15);    border-radius: 30px;
    padding-left: 19px;
}
.search {
width: 18px;
height: 18px;
fill: transparent;
stroke: var(--primary-color-black);
position: absolute;
top: 32%;
left: 88%;
}